jupyter==1.0
autobahn==0.17.1
twisted
txzmq
pyopenssl
service_identity
zope.interface
requests
jupyter_react
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
